In [1]:
def mult_iter(a, b):
    result = 0
    while b > 0:
        result += a
        b -= 1
    return result

mult_iter(2, 4)

8

In [1]:
def mult(a, b):
    if b == 1:
        return a
    else:
        return a + mult(a, b - 1)

mult(2, 4)

8

In [2]:
def fact(n):
    if n == 1:
        return 1
    else:
        return n * fact(n - 1)

print(fact(4))

24

In [1]:
def factorial_iter(n):
    prod = 1
    for i in range(1, n + 1):
        prod *= i
    return prod

In [2]:
def factorial(n):
    if n == 1:
        return 1
    else:
        return n * factorial(n - 1)

In [1]:
def printMove(fr, to):
    print('move from' + str(fr) + ' to ' + str(to))

In [3]:
def towers(n, fr, to, spare):
    if n == 1:
        printMove(fr, to)
    else:
        towers(n - 1, fr, spare, to)
        towers(1, fr, to, spare)
        towers(n - 1, spare, to, fr)

In [ ]:
def fib(x):
    """ assimes x at int >= 0
        returns Fibinacci of x """
    if x == 0 or x == 1:
        return 1
    else:
        return fib(x - 1) + fib(x - 2)

In [1]:
def isPalindrom(s):
    def toChars(s):
        s = lower()
        ans = ''
        for c in s:
            if c in 'abcdefghijklmnopqrstuvwxyz':
                ans = ans + c
        return ans
    
    def isPal(s):
        if len(s) <= 1:
            return True
        else:
            return s[0] == s[-1] and isPal(s[1:-1])
        
    return isPal(toChars(s))

In [2]:
names = ['Ana', 'John', 'Denise', 'Katy']
grade = ['B', 'A+', 'A', 'A']
course = [2.00, 6.0001, 20.002, 9.01]

In [5]:
def get_grade(student, name_list, grade_list, course_list):
    i = name_list.index(student)
    grade = grade_list[i]
    course = course_list[i]
    return (course, grade)

In [8]:
grades = {'Ana':'B', 'John':'A+', 'Denise':'A', 'Katy':'A'}
grades['John']
'John' in grades

True